<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    </head>
    <body>
        <div id="mapid">
        </div>


  <p type="text" size="5" name="a"> <br>
  <p type="text" size="5" name="b"> <br>
        <p type="text" size="5" name="c"><br>

    <p id="result"></p><br>
        Tickets in 200 m vs Average(How many times more): <span id="result1"></span><br><br>

        Tickets in 60 m vs Average(How many times more):<span id="result2"></span><br><br>
        Ticket in 200 m within 1 hour:<span id="result3"></span><br><br>
        Ticket in 60 m within 1 hour:<span id="result4"></span><br><br>
        Ticket in 200 km within 2 hour:<span id="result5"></span><br><br>
        Ticket in 60 m within 2 hour:<span id="result6"></span><br><br>


<p><a href=# id="calculate">Will I receive ticket?</a>

    </body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
        <script src="{{ url_for('static', filename='ticketapp.js') }}"></script>
        <script type="text/javascript">
            var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
{% block body %}{% endblock %}

</html>